<footer class="footer">
    <div class="container mt-10 mb-17">
        <nav class="navbar py-0">
            <a href="index.html" class="navbar-brand">
                <img src="../assets/images/Group 1.png" alt="Willmeow" >
            </a>
            <div>
                <ul class="navbar-nav ms-auto flex-row mb-4">
                    <li class="nav-item">
                        <a class="nav-link px-3" aria-current="page" href="#">最新消息</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-3" href="#">喵咪政見</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-3" href="#">抖內罐罐</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-3" href="#">喵咪信箱</a>
                    </li>
                </ul>
                <ul class="list-unstyled d-flex mb-0">
                    <li class="ms-3"><a href="#"><img src="/assets/images/ic_baseline-facebook.png" alt="facebook"></a></li>
                    <li class="ms-3"><a href="#"><img src="/assets/images/mingcute_ins-fill.png" alt="IG"></a></li>
                    <li class="ms-3"><a href="#"><img src="/assets/images/mdi_youtube.png" alt="youtube"></a></li>
                    <li class="ms-3"><a href="#"><img src="/assets/images/ri_line-fill.png" alt="line"></a></li>
                </ul>
            </div>

        </nav>

    </div>
    <p class="text-center text-light">© 2023 Willmeow All Rights Reserved.</p>
</footer>