.news{
  position: relative;
}
.swiper {
  width: 100%;
  height: auto;
}

.swiper-slide {
  width: 33%;
  height: 454px;
}

.swiper-button-prev{
  top: 95.5%;
  left:45%;
  transform: rotate(-180deg);
  @include mobile{
    display: none;
  }
}
.swiper-button-next{
  top: 95.5%;
  left:55%;
  @include mobile{
    display: none;
  }
}