.announcement{
  max-width: 1320px;
  border-radius: 40px;
  padding: 80px 178px;
  border: 1px solid rgba(240, 228, 255, 0.2) !important;
  @include pad{
    text-align: center;
    padding: 24px 12px;
  }
}
.fundraising{
  padding: 109px 270px;
  @include gradient-y(rgba(17, 0, 45, 1), rgba(17, 0, 45, 0.5));
  border-radius: 40px;
  @include pad{
    padding: 55px 135px;
  }
  @include mobile{
    padding: 24px 12px;
  }
}
.element-with-gradient-border {
  border: 1px solid rgba(240, 228, 255, 0.2) !important;
}
