<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Willmeow</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

</head>

<body>
  <%- include('./layout/header'); -%>

    <div class="container px-4">
      <div class="banner-bg">
        <div class="row align-items-center">
          <div class="col-12 col-lg-6 mb-5 mb-lg-0">
            <a href="#"><img src="/assets/images/img.png" alt="Willmeow" class="img-fluid"></a>
          </div>
          <div class="col-12 col-lg-6 px-10  mb-5 mb-lg-0">
            <h1 class="fw-black mb-3">威爾喵<br>為喵國的未來，先鋪路</h1>
            <h5 class="fw-light mb-10">不再藏在箱子裡，威爾喵為每隻貓站出來！<br> 如果你認同我的理念，請支持我，請加入改變的行列。<br>這一次，為喵國的未來一起努力！</h5>
            <a class="btn btn-primary px-4 py-3 fw-medium" href="#">候選人簡介</a>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex w-100">
      <!-- 跑馬燈 -->
      <div class="scroll overflow-hidden">
        <p class="scroll-text">
          快來喵喵 喵喵喵 喵電感應 感覺到我跟你同時觸電反應 不管相隔多遠都能互相連繫</p>
        <p class="scroll-text">
          快來喵喵 喵喵喵 喵電感應 感覺到我跟你同時觸電反應 不管相隔多遠都能互相連繫</p>
      </div>
      <div class="section-time d-flex flex-nowrap align-items-center">
        <div class="section-time-box d-flex flex-column align-items-center px-5">
          <p class="fs-5 fw-bold">100</p>
          <small class="fw-medium">Days</small>
        </div>
        <div class="section-time-box d-flex flex-column align-items-center px-5">
          <p class="fs-5 fw-bold">16</p>
          <small class="fw-medium">Hours</small>
        </div>
        <div class="section-time-box d-flex flex-column align-items-center px-5">
          <p class="fs-5 fw-bold">13</p>
          <small class="fw-medium">Mins</small>
        </div>
        <div class="section-time-box d-flex flex-column align-items-center px-5">
          <p class="fs-5 fw-bold">25</p>
          <small class="fw-medium">Sec</small>
        </div>
      </div>
    </div>
    <div class="container py-20">
      <div class="ticker-header text-center">
        <h2 class="fw-bold mb-3">喵咪政見</h2>
        <p class="fs-5 text-light mb-16">讓我們一起為這個貓咪友好的未來努力，為每一隻貓咪的幸福而奮鬥。<br>
          投票給威爾喵，讓我們的未來變得更有毛！</p>
      </div>
      <div class="ticker-card">
        <div class="row">
          <div class="col-12 col-sm-6 col-lg-3 mb-5 mb-lg-0">
            <div class="card card-ticker h-100">
              <img src="../assets/images/gavel.png" alt="gavel" style="max-width: 80px" class="m-auto">
              <div class="card-body px-0">
                <h4 class="card-title mb-4 fw-bold">喵咪法條</h4>
                <p class="card-text text-light">嚴禁貓奴才中途烙跑的喵咪法條，保護每一隻貓咪的權益，確保他們不再受到不負責任的對待。</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-3 mb-5 mb-lg-0">
            <div class="card card-ticker h-100">
              <img src="../assets/images/health_and_safety.png" alt="" style="max-width: 80px" class="m-auto">
              <div class="card-body px-0">
                <h4 class="card-title mb-4 fw-bold">喵咪健保制度</h4>
                <p class="card-text text-light">建立一個喵咪健保制度，確保每隻貓在生病時都能獲得優質的醫療照顧，無論是貓草還是貓醫院。</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-3 mb-5 mb-lg-0">
            <div class="card card-ticker h-100">
              <img src="../assets/images/gavel.png" alt="" style="max-width: 80px" class="m-auto">
              <div class="card-body px-0">
                <h4 class="card-title mb-4 fw-bold">貓奴案內所</h4>
                <p class="card-text text-light">建立貓奴案內所，專門媒合貓奴與貓咪，讓每隻貓都能找到不分晝夜任勞任怨好使喚的貓僕人。</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-3 mb-5 mb-lg-0">
            <div class="card card-ticker h-100">
              <img src="../assets/images/house.png" alt="" style="max-width: 80px" class="m-auto">
              <div class="card-body px-0">
                <h4 class="card-title mb-4 fw-bold">喵咪集會所</h4>
                <p class="card-text text-light">我們將建立貓咪集會所，提供無家可歸的貓咪一個避風港，不再讓我們的同伴風吹雨淋，再也不必流浪街頭。</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="announcement mt-20">
        <div class="banner-bg">
          <div class="row gx-10">
            <div class="col-12 col-md-6 my-auto order-md-1 order-2">
              <div class="card-announcement">
                <h2 class="fw-bold mb-3">威爾喵政見發表會</h2>
                <p class="mb-5 text-light">威爾喵是一名充滿活力、具有政治經驗的候選人，致力於改變社會，並為人民提供更好的生活。政策目標旨在實現更公平、更繁榮、更可持續的社會和經濟。
                </p>
                <a class="btn-outline-purple d-flex align-items-center justify-content-center justify-content-md-start"
                  type="button" href="#">閱讀更多
                  <img src="../assets/images/arrow_forward.png" alt="arrow_forward" class="ms-3">
                </a>
              </div>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-1 mb-5 mb-md-0">
              <img src="../assets/images/cat-m-1.png" alt="cat-1" class="rounded-5 img-fluid border-all h-100">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="news my-20 overflow-hidden">
      <div class="container">
        <h2 class="fw-bold mb-3 text-center mb-11">最新消息</h2>
        <div class="swiper mySwiper pb-20">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="card-news h-100 border-all">
                <div class="image-container">
                  <img src="../assets/images/cat1.png" alt="cat-1" class="card-img-top">
                </div>
                <div class="card-body p-6">
                  <h5 class="card-title fw-medium mb-3 text-wrap">貓黨30週年紀念活動，邀請您一起Chill out 吸貓草</h5>
                  <p class="card-text mb-3 d-block text-truncate text-light" style="max-width: 376px">
                    嚴禁貓奴才中途烙跑的喵咪法條，保護每一隻貓咪的權益，確保他們不再受到不負責任的對待。</p>
                </div>
                <div class="card-footer px-6">
                  <a class="btn-outline-purple d-flex align-items-center fw-medium stretched-link" type="button" href="#">閱讀更多
                    <span class="material-symbols-outlined">
                      chevron_right
                    </span>
                  </a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card-news h-100 border-all">
                <div class="image-container">
                  <img src="../assets/images/cat2.png" alt="cat-1" class="card-img-top">
                </div>
                <div class="card-body p-6">
                  <h5 class="card-title fw-medium mb-3 text-wrap">Meowcast： 威爾喵的政貓時刻</h5>
                  <p class="card-text mb-3 d-block text-truncate text-light" style="max-width: 376px">
                    嚴禁貓奴才中途烙跑的喵咪法條，保護每一隻貓咪的權益，確保他們不再受到不負責任的對待。</p>
                </div>
                <div class="card-footer px-6">
                  <a class="btn-outline-purple d-flex align-items-center fw-medium stretched-link" type="button" href="#">閱讀更多
                    <span class="material-symbols-outlined">
                      chevron_right
                    </span>
                  </a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card-news h-100 border-all">
                <div class="image-container">
                  <img src="../assets/images/cat3.png" alt="cat-1" class="card-img-top">
                </div>
                <div class="card-body p-6 ">
                  <h5 class="card-title fw-medium mb-3 text-wrap">「Lofi Cat」 24小時音樂直播上線</h5>
                  <p class="card-text mb-3 d-block text-truncate text-light" style="max-width: 376px">
                    嚴禁貓奴才中途烙跑的喵咪法條，保護每一隻貓咪的權益，確保他們不再受到不負責任的對待。</p>
                </div>
                <div class="card-footer px-6">
                  <a class="btn-outline-purple d-flex align-items-center fw-medium stretched-link" type="button" href="#">閱讀更多
                    <span class="material-symbols-outlined">
                      chevron_right
                    </span>
                  </a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card-news h-100 border-all">
                <div class="image-container">
                  <img src="../assets/images/cat4.png" alt="cat-4" class="card-img-top">
                </div>
                <div class="card-body p-6">
                  <h5 class="card-title fw-medium mb-3 text-wrap">與威爾喵同行掃街</h5>
                  <p class="card-text mb-3 d-block text-truncate text-light" style="max-width: 376px">
                    嚴禁貓奴才中途烙跑的喵咪法條，保護每一隻貓咪的權益，確保他們不再受到不負責任的對待。</p>
                </div>
                <div class="card-footer px-6">
                  <a class="btn-outline-purple d-flex align-items-center stretched-link fw-medium" type="button" href="#">閱讀更多
                    <span class="material-symbols-outlined">
                      chevron_right
                    </span>
                  </a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card-news h-100 border-all">
                <div class="image-container">
                  <img src="../assets/images/cat5.png" alt="cat-4" class="card-img-top">
                </div>
                <div class="card-body p-6">
                  <h5 class="card-title fw-medium mb-3 text-wrap">貓奴案內所記者會</h5>
                  <p class="card-text mb-3 d-block text-truncate text-light" style="max-width: 376px">
                    嚴禁貓奴才中途烙跑的喵咪法條，保護每一隻貓咪的權益，確保他們不再受到不負責任的對待。</p>
                </div>
                <div class="card-footer px-6">
                  <a class="btn-outline-purple stretched-link d-flex align-items-center fw-medium" type="button" href="#">閱讀更多
                    <span class="material-symbols-outlined">
                      chevron_right
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="swiper-pagination"></div> -->
        <div class="d-flex mb-3">
          <img src="../assets/images/arrow-button.png" alt="" class="swiper-button-next img-fluid mx-3 arrow-left"
            style="width: 48px;">
          <img src="../assets/images/arrow-button.png" alt="" class="swiper-button-prev img-fluid mx-3"
            style="width: 48px;">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="fundraising text-center my-20 element-with-gradient-border">
        <h2 class="fs-2 fw-black mb-3">抖內罐罐</h2>
        <p class="text-light mb-6">您的每一筆抖內都將讓一隻貓咪過上更好的生活。<br>點擊下方抖內按鈕，讓我們的貓咪生活更美好！</p>
        <a class="btn btn-primary px-4 py-3 fw-medium" href="#">立即抖內</a>
      </div>
    </div>
    <div class="container mb-166">
      <div class="mailto my-20">
        <div class="text-center">
          <h2 class="fs-2 fw-bold mb-3">您的聲音，我們的行動！</h2>
          <p class="text-light mb-16">親愛的朋友們，每一位喵民的意見都是我們前進的原動力。<br>
            無論大小事，我都誠摯希望聽到您的建議。分享您的想法，一同為我們的未來打造更美好！</p>
        </div>
        <div class="row">
          <div class="col-12 col-md-8 m-auto">
            <form class="row ">
              <div class="mb-3 col-12 col-md-6">
                <label for="exampleInputEmail1" class="form-label">電子郵件</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  placeholder="mmm@gmail.com">
              </div>
              <div class="mb-6 col-12 col-md-6">
                <label for="exampleInputPassword1" class="form-label">您的姓名</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="請輸入姓名">
              </div>
              <div class="mb-15 col-12">
                <label for="exampleFormControlTextarea1" class="form-label">您的建言</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="請輸入內容..."
                  rows="6"></textarea>
              </div>
              <div class="text-end px-sm-0">
                <a class="btn btn-primary px-4 py-3 fw-medium" href="#">確定送出</a>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <%- include('./layout/footer'); -%>

      <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
      <script type="module" src="../assets/js/swiper.js"></script>
      <script type="module" src="../main.js"></script>
</body>

</html>